/* CSS File */

h1 {
  color: #666666;
  font-size: 24px;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: repeat( 3, 100px );
  grid-gap: 1rem;
  grid-template-areas:
    'box1 box1 box1'
    'box2 box3 box4'
    '. box5 .';
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
  background-color: #EAEAEA;
}

.box-1 {
  grid-area: box1;
}
.box-2 {
  grid-area: box2;
}
.box-3 {
  grid-area: box3;
}
.box-4 {
  grid-area: box4;
}
.box-5 {
  grid-area: box5;
}
